<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
<div class="container">
  
  <div class="row justify-content-center">
  <div class="col-md-6">
  <div class="card">
  <header class="card-header">
    <a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
    <h4 class="card-title mt-2">Register For CoronaVirus Updates</h4>
  </header>
  <article class="card-body">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label>Name  </label>   
      <!-- <input type="text" class="form-control" placeholder=""> -->
      {{ form.name }}
    </div> <!-- form-row end.// -->
    <div class="form-group">
      <label>Email address</label>
      {{ form.email }}
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <div style="font-size:12px;color:red;">{{ message }}</div>
      {% endif %}
      {% endfor %}
    </div> <!-- form-group end.// -->
    <div class="form-group">
      <label>Select Your State</label>
      {{ form.stateselect }}
    </div> <!-- form-group end.// -->
    <div class="form-group">
      <label>Select Your District</label>
      {{ form.cityselect }}
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div style="font-size:12px;color:red;">{{ message }}</div>
      {% endif %}
      {% endfor %}
    </div> <!-- form-group end.// -->
      <div class="form-group">
          <input type="submit" class="btn btn-primary btn-block" > 
      </div> <!-- form-group// -->      
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div style="font-size:25px;color:green;">{{ message }}</div>
      {% endif %}
      {% endfor %}                                     
  </form>
  </article> <!-- card-body end .// -->
  </div> <!-- card.// -->
  </div> <!-- col.//-->
  
  </div> <!-- row.//-->
  
  
  </div> 
  <!--container end.//-->
</body>
</html>
